
#turning-grille-title {
    margin-left: 38%;
    margin-top: 5%;
}

#encrypt-btn {
    margin-left: 30%;
}

#decrypt-btn {
    margin-left: 46%;
}

@media (max-width: 411px) {
    #turning-grille-title {
        margin-left: 25%;
        margin-top: 5%;
    }

    #decrypt-btn {
        margin-left: 34%;
    }
}

@media (max-width: 414px) {
    #turning-grille-title {
        margin-left: 15%;
        margin-top: 5%;
    }

    #decrypt-btn {
        margin-left: 34%;
    }
}

@media (max-width: 320px) {
    .center {
        width: 100%;
        font-size: 12px;
    }
}